.DarkAboutConatinerMain {
  background-color: #111827;

  width: 100%;
  padding: 96px 80px;
  transition: all;
  transition-duration: 1s;
  text-align: center;
}
.LightAboutConatinerMain {
  background-color: #f9fafb;

  width: 100%;
  padding: 96px 80px;
  transition: all;
  transition-duration: 1s;
  text-align: center;
}
.pageHeaderDark {
  background-color: #374151;
  color: white;
  display: inline-block;
  padding: 4px 25px;
  border-radius: 20px;
  margin-bottom: 6%;
  transition: all;
  transition-duration: 1s;
}
.pageHeaderLight {
  background-color: #e5e7eb;
  color: #555e6c;
  display: inline-block;
  padding: 4px 25px;
  border-radius: 20px;
  margin: 0 auto;
  margin-bottom: 6%;
  transition: all;
  transition-duration: 1s;
}
.innerMain {
  height: 100%;
  width: 100%;
  display: flex;
  gap: 10%;
}
.sections {
  width: 50%;
  height: 100%;
}
.sections:nth-child(1) {
  display: flex;
  justify-content: center;
  align-items: center;
}
.AboutInfoHeader {
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 20px;
  text-align: left;
}
.simpleText {
  text-align: left;
  margin: 16px 0;
  font-size: 17.5px;
  line-height: 25px;
}
.list {
  display: flex;
}
.list div:nth-child(2) {
  margin-left: 15%;
}
.list div li {
  margin-bottom: 25px;
  text-align: left;
  margin-left: 15px;
}
.imageHolderDark {
  background-color: #374151;
  padding: 40px;
  margin-top: 65px;
  display: inline-block;
  margin-right: 25%;
  transition: all;
  transition-duration: 1s;
}
.imageHolderDark img {
  width: 340px;
  margin-top: -105px;
  margin-right: -85px;
  border-left: 7px solid #111827;
  border-bottom: 7px solid #111827;
  transition: all;
  transition-duration: 1s;
}
.imageHolderLight {
  background-color: #e5e7eb;
  padding: 40px;
  margin-top: 65px;
  display: inline-block;
  margin-right: 25%;
  transition: all;
  transition-duration: 1s;
}
.imageHolderLight img {
  width: 340px;
  margin-top: -105px;
  margin-right: -85px;
  border-left: 7px solid white;
  border-bottom: 7px solid white;
  transition: all;
  transition-duration: 1s;
}
