.MainConatiner {
  width: 100%;
  padding: 96px 80px;

  transition: all;
  transition-duration: 1s;
  text-align: center;
}
.MainConatinerLight {
  background-color: white;
  transition: all;
  transition-duration: 1s;
}
.MainConatinerDark {
  background-color: #111827;
  color: #d1d5db;
  transition: all;
  transition-duration: 1s;
}
.MainConatinerDark .pageHeading {
  background-color: #374151;
  padding: 4px 16px;
  display: inline;
  border-radius: 26px;
  margin-bottom: 65px;
}
.MainConatinerLight .pageHeading {
  background-color: #e5e7eb;
  color: #555e6c;
  padding: 4px 16px;
  display: inline;
  border-radius: 26px;
  margin-bottom: 65px;
}
@media (max-width: 450px) {
  .MainConatiner {
    padding: 54px 16px;
    height: auto;
  }
}
