.MainConatinerLight {
  height: 1140px;
  width: 100%;
  padding: 96px 80px;
  background-color: #f9fafb;
  transition: all;
  transition-duration: 1s;
  text-align: center;
}
.MainConatinerDark {
  height: 1140px;
  width: 100%;
  padding: 96px 80px;
  background-color: #111827;
  color: #d1d5db;
  transition: all;
  transition-duration: 1s;
  text-align: center;
}
.MainConatinerDark .pageHeading {
  background-color: #374151;
  padding: 4px 16px;
  display: inline;
  border-radius: 26px;
  margin-bottom: 65px;
}
.MainConatinerLight .pageHeading {
  background-color: #e5e7eb;
  color: #555e6c;
  padding: 4px 16px;
  display: inline;
  border-radius: 26px;
  margin-bottom: 65px;
}
