.LightMainDiv {
  width: 100%;
  background-color: white;
  padding: 96px 80px;
  transition: all;
  transition-duration: 1s;
}

.DarkMainDiv {
  width: 100%;
  background-color: #030712;
  padding: 96px 80px;
  transition: all;
  transition-duration: 1s;
}

.innerDiv {
  height: 100%;
  width: 100%;
  display: flex;
  gap: 10px;
  justify-content: space-around;
}
.section {
  height: 300px;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section:nth-child(1) {
  width: 65%;
  display: block;
  position: static;
}
.name {
  font-size: 3rem;
  font-weight: bold;
  display: flex;
  align-items: center;
}
.Darkinfo {
  color: darkgrey;
  word-break: inherit;
  font-size: 1.2rem;
  margin-top: 5px;
  line-height: 25px;
}
.Lightinfo {
  color: rgb(58, 57, 57);
  word-break: inherit;
  font-size: 1.2rem;
  margin-top: 5px;
  line-height: 25px;
}
.location {
  height: 65px;
  margin-top: 36px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
}
.location1 {
  height: 65px;
  margin-top: 36px;
  display: flex;
  align-items: end;
  padding-bottom: 15px;
  gap: 8px;
}
.status {
  display: inline-block;
  height: 10px;
  width: 10px;
  background-color: rgb(14, 243, 14);
  border-radius: 50%;
  margin-right: 5px;
}
.links {
  all: unset;
  transition: all;
  transition-duration: 0.1s;
  width: 30px;
}
.links :hover {
  font-size: 25px;
  transition-duration: 0.1s;
}
.social {
  font-size: 22px;
}

.imageHolderDark {
  background-color: #374151;
  height: 215px;
  width: 215px;
  top: 10%;
  left: 25%;

  transition: all;
  transition-duration: 1s;
}
.imageHolderLight {
  background-color: #e5e7eb;
  height: 215px;
  width: 215px;
  top: 10%;
  left: 25%;
  transition: all;
  transition-duration: 1s;
}

.avatarDark {
  transition: all;
  transition-duration: 1s;
  height: 190px;
  width: 190px;

  top: -10%;
  left: -12%;
  border-bottom: 8px solid #030712;
  border-right: 8px solid #030712;
  transition: all;
  transition-duration: 1s;
}
.avatarLight {
  transition: all;
  transition-duration: 1s;
  height: 190px;
  width: 190px;

  top: -10%;
  left: -12%;
  border-bottom: 8px solid white;
  border-right: 8px solid white;
  transition: all;
  transition-duration: 1s;
}

@media (max-width: 450px) {
  .DarkMainDiv {
    padding: 0px;
    height: auto;
  }
  .LightMainDiv {
    padding: 0px;
    height: auto;
  }
  .innerDiv {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    padding: 0px;
    height: 700px;
  }
  .section {
    width: auto;
  }
  .section:nth-child(1) {
    width: 90vw;
  }

  .imageHolderDark {
    width: 217px;
  }
  .imageHolderLight {
    width: 217px;
  }
  .name {
    font-size: 1.8rem;
  }
  .Darkinfo {
    font-size: 16px;
  }
  .Lightinfo {
    font-size: 16px;
  }
  .location {
    margin-top: 15px;
  }
  .location1 {
    margin-top: 0px;
  }
}
