.LightMainDiv {
  width: 100%;
  background-color: white;
  padding: 96px 80px;
  transition: all;
  transition-duration: 1s;
}

.DarkMainDiv {
  width: 100%;
  background-color: #030712;
  padding: 96px 80px;
  transition: all;
  transition-duration: 1s;
}

.innerDiv {
  height: 100%;
  width: 100%;
  display: flex;
  gap: 10px;
  justify-content: space-around;
}
.section {
  height: 300px;
  width: 30%;

  position: relative;
}
.section:nth-child(1) {
  width: 65%;

  position: static;
}
.name {
  font-size: 3rem;
  font-weight: bold;

  display: flex;
  align-items: center;
}
.Darkinfo {
  color: darkgrey;
  word-break: inherit;
  font-size: 1.2rem;
  margin-top: 5px;
  line-height: 25px;
}
.Lightinfo {
  color: rgb(58, 57, 57);
  height: 72px;
  word-break: inherit;
  font-size: 1.2rem;
  margin-top: 5px;
  line-height: 25px;
}
.location {
  height: 65px;
  margin-top: 36px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
}
.location1 {
  height: 65px;
  margin-top: 36px;
  display: flex;
  align-items: end;
  padding-bottom: 15px;
  gap: 8px;
}
.status {
  display: inline-block;
  height: 10px;
  width: 10px;
  background-color: rgb(14, 243, 14);
  border-radius: 50%;
  margin-right: 5px;
}
.links {
  all: unset;
  transition: all;
  transition-duration: 0.1s;
  width: 30px;
}
.links :hover {
  font-size: 25px;
  transition-duration: 0.1s;
}
.social {
  font-size: 22px;
}

.imageHolderDark {
  background-color: #374151;
  height: 70%;
  width: 50%;
  top: 10%;
  left: 25%;
  position: absolute;
}
.imageHolderLight {
  position: absolute;
  background-color: #e5e7eb;
  height: 70%;
  width: 50%;
  top: 10%;
  left: 25%;
}

.avatarDark {
  transition: all;
  transition-duration: 1s;
  height: 95%;
  width: 95%;
  position: absolute;
  top: -10%;
  left: -12%;
  border-bottom: 8px solid #030712;
  border-right: 8px solid #030712;
}
.avatarLight {
  transition: all;
  transition-duration: 1s;
  height: 95%;
  width: 95%;
  position: absolute;
  top: -10%;
  left: -12%;
  border-bottom: 8px solid white;
  border-right: 8px solid white;
}
