.mainHolderDark {
  background-color: #030712;
  height: 560px;
  width: 100%;
  padding: 96px 80px;
  text-align: center;
  transition: all;
  transition-duration: 1s;
}
.mainHolderDark .MainInfoBar {
  background-color: #374151;
  color: #d1d5db;
  display: inline-block;
  padding: 4px 16px;
  border-radius: 15px;
  margin-bottom: 15px;
}
.mainHolderLight {
  background-color: white;
  height: 560px;
  width: 100%;
  padding: 96px 80px;
  text-align: center;
  transition: all;
  transition-duration: 1s;
}
.mainHolderLight .MainInfoBar {
  background-color: #e5e7eb;
  color: #4b5563;
  display: inline-block;
  padding: 4px 16px;
  border-radius: 15px;
  margin-bottom: 15px;
}
.skillsInfo {
  margin: 10px 0;
  font-size: 20px;
}
.subgrid {
  display: flex;
  justify-content: flex-start;
  margin: 60px 0;
}
.inGrid {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
.grid img {
  height: 64px;
  width: 64px;
  margin-top: 4px;
}
.techName {
  display: block;
  width: 80px;
  overflow: hidden;
  margin-top: 4px;
}

@media (max-width: 450px) {
  .mainHolderDark {
    height: 610px;
    padding: 54px 16px;
  }
  .mainHolderLight {
    height: 610px;
    padding: 54px 16px;
  }
  .skillsInfo {
    font-size: 17px;
  }
  .subgrid {
    all: unset;
    display: block;
    margin: 0px;
    padding-top: 10px;
  }
  .subgrid img {
    height: 50px;
    width: 50px;
  }
  .inGrid {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  .techName {
    display: block;
    width: 70px;
    overflow: hidden;
    font-size: 14px;
  }
}
